<h2>Spiderman</h2>

<dl>
  <td>Nombre:</td>
  <dd> {{name}} </dd>

  <td>Edad:</td>
  <dd> {{age}} </dd>

  <td>Método</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado: </td>
  <dd> {{ capitalizedName }} </dd>
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeName()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
  *ngIf="age !== 30"
  (click)="changeAge()"
  class="btn btn-primary "
  >
  Cambiar Edad
</button>

<button
  *ngIf="name === 'Spiderman' && age === 30"
  (click)="reset()"
  class="btn btn-primary "
>
  Reset
</button>

